@import '../../../scss/app';

.authorization {
  margin: auto;
  display: grid;
  align-content: center;
  text-align: center;
  padding: 20px;
  height: 80vh;
  width: 300px;
  img {
    margin: auto;
    width: 250px;
  }
  md-form-field {
    width: 100%;
  }
  a {
    background-color: #4d77f0;
    height: 40px;
    width: 100%;
    color: white;
  }
}
