<!--<div class="authorization">-->
  <!--&lt;!&ndash;<img [routerLink]="['/dashboard']" src="../../../assets/logo.svg" alt="logo">&ndash;&gt;-->

  <!--<md-tab-group>-->
    <!--<br>-->
    <!--<md-tab label="Log In">-->
      <!--<form>-->
        <!--<md-form-field>-->
          <!--<input mdInput type="email" name="email" placeholder="Login"-->
                 <!--(blur)="[this.unableLogin = false, this.validLoginEmail = false]"-->
                 <!--(focus)="[this.unableLogin = false, this.validLoginEmail = false]" ngModel >-->

          <!--<md-error>-->
            <!--Email is <strong>required</strong>-->
          <!--</md-error>-->


        <!--</md-form-field>-->
        <!--<md-form-field>-->

          <!--<input mdInput type="password" name="password" placeholder="Password" ngModel-->
                 <!--(blur)="[this.unableLogin = false]"-->
                 <!--(focus)="[this.unableLogin = false]">-->
          <!--<md-error>-->
            <!--Password is <strong>required</strong>-->
          <!--</md-error>-->

        <!--</md-form-field>-->

        <!--<a md-raised-button  href="#" type="submit">-->
          <!--Sign In-->
        <!--</a>-->

      <!--</form>-->

      <!--</md-tab>-->
    <!--<md-tab label="Sign Up">-->

    <!--</md-tab>-->
  <!--</md-tab-group>-->
<!--</div>-->
