@import '../../../../scss/app';

footer {
  .footer-container {
    border-top: solid 1px #ececec;
    display: grid;
    text-align: center;
    align-content: center;
    height: 80px;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    width: 1200px;
    .footer-copyright {
      text-align: left;
      font-family: $OpenSans;
      font-size: 18px;
      font-weight: 300;
      color: rgba(0, 0, 0, .3);
    }
    .footer-help {
      text-align: right;
      font-family: $OpenSans;
      font-size: 12px;
      font-weight: 300;
      color: rgba(0, 0, 0, .3);
      img {
        position: absolute;
        margin-left: -26px;
        margin-top: -2px;
      }
    }
  }
}
