@import '../../../scss/app';

main {
  background-color: $background-color;
  overflow: hidden;
  text-align: center;
  padding: 20px;
  .main-container {
    margin: 0 auto;
    width: 1200px;
    text-align: left;
    .main-header {
      display: grid;
      grid-template-columns: 1fr 1fr;
      .search-controls {
        margin-top: 25px;
        text-align: right;
        input {
          width: 175px;
          height: 28px;
          border-radius: 6px;
          border: solid 1px #d3d3d3;
          background-image: url("../../../assets/icons/search-icon.svg");
          background-repeat: no-repeat;
          background-position: 159px 8px;
          padding-left: 15px;
          font-family: $OpenSans;
          outline: none;
        }
        ::placeholder {
          opacity: 0.6;
          font-family: $OpenSans;
          font-size: 14px;
          font-weight: 300;
          color: lighten($gray-color, 20);
        }
        img {
          margin: -13px 10px;
          cursor: pointer;
        }
      }
    }

    .annotators-list {
      border-radius: 10px;
      background-color: #fff;
      border: solid 1px #ececec;
      width: 1200px;
      .annotators-list-header {
        font-family: $Montserrat;
        font-size: 15px;
        color: $main-color;
        line-height: 1.6;
        padding: 10px 16px;
        display: grid;
        grid-template-columns: 20% 10% 30% 40%;
        .header-hm {

          display: inline-block;
          .sort-icon-up {
            margin-left: 10px;
          }
          img {
            width: 10px;
            cursor: pointer;
          }
        }
      }

      .annotators-item:nth-child(even) {
        background-color: #f8f8fa;
      }
      .annotators-item {
        height: 80px;
        font-size: 14px;
        font-weight: 500;
        color: $gray-color;
        padding: 10px 16px;
        display: grid;
        grid-template-columns: 20% 10% 30% 10% 30%;
        .item-name {
          display: grid;
          align-content: center;
          grid-template-columns: 10% 15% 70%;
          md-checkbox {
            margin-top: 9px;
          }
          .item-name-container {
            position: absolute;
            margin-left: 80px;
            padding-top: 9px;
          }
          img {
            display: inline-block;
            margin: 0 14px;
          }
          p {
            font-family: $Montserrat;
            font-size: 14px;
            font-weight: 500;
            color: $gray-color;
            margin-bottom: 2px;
          }
          span {
            white-space: nowrap;
            font-family: $OpenSans;
            font-size: 12px;
            font-weight: 300;
            opacity: 0.6;
          }

        }
        .item-domain {
          display: grid;
          align-content: center;
          font-family: $Montserrat;
          font-size: 14px;
          font-weight: 300;
        }
        .item-level {
          width: 250px;
          display: grid;
          align-content: center;
          font-family: $Montserrat;
          font-size: 14px;
          font-weight: 300;
          grid-template-columns: 1fr 1fr;
          .item-level-container {
            position: absolute;
            margin-left: 30px;
            padding-top: 9px;
            p {
              font-family: $Montserrat;
              font-size: 14px;
              font-weight: 500;
              color: $gray-color;
              margin-bottom: 2px;
            }
            span {
              white-space: nowrap;
              font-family: $OpenSans;
              font-size: 12px;
              font-weight: 300;
              opacity: 0.6;
            }
          }
        }
        .item-since {
          width: 250px;
          display: grid;
          align-content: center;
          font-family: $Montserrat;
          font-size: 14px;
          font-weight: 300;
        }
        .item-edit-controls {
          text-align: right;
          font-family: $Montserrat;
          font-size: 14px;
          font-weight: 300;
          align-content: center;
          opacity: 0.6;
          display: grid;
          grid-template-columns: 40% 40% 20%;
          img {
            margin-right: 10px;
          }
          span {
            display: inline-block;
            cursor: pointer;
            &:hover {
              opacity: 1;
              color: $main-color;
              transition: color 0.3s ease;
            }
          }
        }
      }
    }
    .list-footer {
      text-align: center;
      button {
        outline: none;
        margin: 30px auto;
        width: 120px;
        height: 33.6px;
        border-radius: 6px;
        background-color: #fff;
        border: solid 1px #d3d3d3;
        display: inline-block;
        font-family: $OpenSans;
        color: $gray-color;
        font-size: 14px;
        font-weight: 300;
        &:hover {
          background-color: darken(#fff, 5);
        }
      }
    }
  }
}

.hidden {
  display: none !important;
}

.filter-menu-item {
  font-family: $OpenSans;
  font-size: 14px;
  font-weight: 300;
  color: $gray-color;
  display: block;
  text-decoration: none;
  padding: 9px 16px;
  cursor: pointer;
  &:hover {
    color: $main-color;
    transition: color 0.5s ease;
  }
}
