@import '../../../../scss/app';

main {
  overflow: hidden;
  text-align: center;
  padding: 20px;
  .main-container {
    margin: 0 auto;
    max-width: 1200px;
    text-align: left;
    form {
      md-select {
        width: 360px;
        display: block;
        margin-bottom: 20px;
      }
      md-form-field {
        width: 360px;
        display: block;
      }

      md-slide-toggle {
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .make-public {
        color: rgba(0, 0, 0, .54);
      }
      button {
        outline: none;
        margin: 30px auto;
        width: 120px;
        height: 33.6px;
        border-radius: 6px;
        background-color: #fff;
        border: solid 1px #d3d3d3;
        display: inline-block;
        font-family: $OpenSans;
        color: $gray-color;
        font-size: 14px;
        font-weight: 300;
        &:hover {
          background-color: darken(#fff, 5);
        }
      }
    }
  }
}

