<main>
  <div class="main-container">
    <h3>
      Create a new entity
    </h3>
    <form>
      <md-form-field>
        <input mdInput type="text" name="name" placeholder="Entity Name" ngModel >
      </md-form-field>
      <md-form-field>
        <input mdInput type="text" name="type" placeholder="Type" ngModel >
      </md-form-field>

      <md-select placeholder="Associated actions" multiple>
        <md-option value="">
          Action 1
        </md-option>
        <md-option value="">
          Action 2
        </md-option>
        <md-option value="">
          Action 3
        </md-option>
        <md-option value="">
          Action 4
        </md-option>
      </md-select>

      <md-select placeholder="Icon">
        <md-option value="">
          <md-icon>home</md-icon>
        </md-option>
        <md-option value="">
          <md-icon>help</md-icon>
        </md-option>
        <md-option value="">
          <md-icon>phone</md-icon>
        </md-option>
        <md-option value="">
          <md-icon>mail</md-icon>
        </md-option>
      </md-select>

      <md-slide-toggle><span class="make-public">Make it public</span></md-slide-toggle>

      <md-form-field>
        <textarea mdInput placeholder="Give a small description (Max 180 characters)"></textarea>
      </md-form-field>
      <button >Create Entity</button>

    </form>

  </div>
</main>
