@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

$Montserrat: 'Montserrat', sans-serif;
$OpenSans: 'Open Sans', sans-serif;
$main-color: #4C7EE4;
$gray-color: #485A6C;
$green-color: #7bcd85;
$red-color: #f44336;
$background-color: #FDFDFD;
$gutter: 20px;
