@import "normalize";
@import "variables";

body {
  font-family: $Montserrat;
  font-size: 16px;
  min-width: 320px;
  line-height: 1.65;
  position: relative;
  overflow-x: hidden;
  opacity: 1;
  background-color: $background-color;
}

h3 {
  font-family: $Montserrat;
  font-size: 26px;
  font-weight: 500;
  display: inline-block;
  color: $gray-color;
}
